body{
    font-family: arial, sans-serif;
    margin: 0;
  background-color:  #bac89f;
  
}

header{
    background-color: #556B2F;
    padding: 20px;
    text-align: center;
    color: white;
}

main{
    display: flex;
  padding: 20px;
  background-color: #bac89f;
 
}

section{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

nav{
    background-color: #556B2F;
    text-align: left;
    padding: 5px;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#art1{
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #6B8E23;
   border-radius: 10px;
   text-align: center;
}

#art2{
      padding-left: 20px;
  padding-right: 20px;
     margin-left: 310px;
   text-align: center;
   margin-right: 20px;
   background: #6B8E23;
   border-radius: 10px;

}

#art3{
      padding-left: 20px;
  padding-right: 20px;
margin-left: 310px;
background: #6B8E23;
border-radius: 10px;
text-align: center;
}

article:hover{
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

footer{
    background-color: #556B2F;
    margin-top: 15px;
    color: white;
    padding: 15px;
    text-align: center;
}