body {
  font-family: Arial, sans-serif;
    margin: 0;
  padding:0;
  height: 100vh;

 background-image:url(/img/fondo7.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

header {
  font-family:Broadway;
  background-image: url("/img/fondo6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  

  color: rgb(14, 26, 34);
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  padding: 20px;
  background: #010c17d2;
  color: white;
  margin: 0;
}

div {
  display: flex;
  margin: 0;
}

article {
  background: #4f5f695e;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

article img {
  width: 375px;
  height: auto;
  border-radius: 10px;
}

article img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

article h3:hover {
  margin-top: 10px;
  font-size: 24px;
  color: #c7b54d;
  transition: 0.3s ease-in-out;
}

footer {
  background: #7e6b81;
  color: rgb(220, 196, 223);
  text-align: center;
  padding: 15px;
}
