body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  padding: 20px;
  background: #010c17d2;
  color: white;
  margin: 0;
}

div {
  display: flex;
  margin: 0;
}

article {
  background: #4f5f695e;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

article img {
  width: 375px;
  height: auto;
  border-radius: 10px;
}

article img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

article h3:hover {
  margin-top: 10px;
  font-size: 24px;
  color: #c7b54d;
  transition: 0.3s ease-in-out;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}
