body {
  font-family: Arial, sans-serif;
background-image: url("/img/fondo4.jpg");
background-size: cover;
background-repeat: no-repeat;

}

header {

  Font-family: Bodoni-MT;
  background-image: url("/img/mariposa.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; 
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;

}

nav {
  Font-family:Forte;
  background: #e7b1ec;
  color: rgb(68, 0, 62);
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

main {
  display: flex;
  padding: 20px;
  background-color: #ccbbcc;
}

section {
  flex: 2;
  margin-right: 20px;
}

article {
  font-size: 18px;
  background: rgb(198, 169, 202);
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
}

aside {
  background-image: url("/img/fondo5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  
  padding: 15px;
  border: 1px solid #9905be;
}

footer {
  background: #52174d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
